<%require 'pry' %> 
<% @user.lifts.each do |lift| %>

  <b><label for="start_time"> </label>  <%=lift.start_time%></b>
  <br></br> <%=lift.name %>
  <br></br><label for="start_time"></label>Start time: <%=lift.start_time %>
  <br></br><label for="end_time"></label>End time: <%=lift.end_time %>
  <br></br><label for="set_1_reps"></label>Set 1 Reps: <%=lift.set_1_reps %>
  <br></br><label for="set_1_weight"></label>Set 1 Weight: <%=lift.set_1_weight %>

  <br></br><label for="start_time"></label>Start time: <%=lift.start_time %>
  <br></br><label for="end_time"></label>End time: <%=lift.end_time %>
  <br></br><label for="set_1_reps"></label>Set 1 Reps: <%=lift.set_1_reps %>
  <br></br><label for="set_1_weight"></label>Set 1 Weight: <%=lift.set_1_weight %>
  
    <%end%>
